body {
    background-image: url(/img/dota.jpg);
}
.nav {
    max-width: 45%;
    color: rgba(255, 235, 205, 0.692);
    background-color: rgba(59, 57, 57, 0.274);
    font-size: 2em;
    font-family: fantasy;
    letter-spacing: 2px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 15px;
    margin-left: 25%;
}

.sidenav {
    height: 100%;
    width: 120px;
    position: fixed;
    z-index: 1;
    top: 0%;
    left: 0;
    background-color: rgba(12, 8, 8, 0.692);
    overflow-x: hidden;
    padding-top: 180px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: silver;
    display: block;
  }
  
  
